[user]
	name = Thomas Cort
	email = tcort@tcort.dev
	signingkey = A34A349754F5891BF20592F2EC3ED37CC83D9AD4
[branch]
	autosetuprebase = always
[color]
	ui = auto
[sendemail]
	smtpuser = tcort@tcort.dev
	smtpserver = mail.tcort.dev
	smtpserverport = 587
	smtpencryption = tls
[alias]
	br = branch
	ci = commit
	cl = clone
	co = checkout
	rb = rebase
[diff]
	algorithm = patience
[core]
	editor = vim
[push]
	default = simple
[commit]
	template = /home/tcort/.git-commit-template
	gpgsign = true
[gpg]
	program = gpg
